.search {
  border: 1px solid black;
  margin: 30px 30px;
  padding: 30px;
  color: #0b5ed7;
}

.search h1 {
  font-size: 40px;
}
.search .temperature {
  font-size: 50px;
  font-weight: bold;
}
.search .unit {
  font-size: 30px;
}
.search li {
  list-style: none;
}
